<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=192.168.1.24\SQL2014;Initial Catalog=POS_MASTER_DB_SRV;Persist Security Info=True;User ID=sa;Password=data" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Topic" value="0a3985b7-12cd-4baf-8e98-15841b54c5d1" />
		<add key="OrderSubscription" value="AsicsMY-ORDER-ef15421d6cdd529db1cde34180af3050" />
		<add key="ProductSubscription" value="AsicsMY-PRODUCT-f7717f2a1ebd684657edee5586221a33" />
		<add key="LocationSubscription" value="AsicsMY-LOCATION-5cfce121d61ddfc5d32b8a76deedc78" />
		<add key="ReturnSubscription" value="AsicsMY-RETURN-dd80f70e13db1aebf94e0f3f0d220337" />
		<add key="Endpoint" value="Endpoint=sb://capillary-signals-qa.servicebus.windows.net/;SharedAccessKeyName=AsicsMY;SharedAccessKey=Jqo2rH26059jaG+Q2iW/Hou29lf1nm4pDgJ/ioHB6dU=" />
	</appSettings>
</configuration>